<div class="text-center body">
  <form class="form-signin" #form="ngForm" novalidate (ngSubmit)="submit(form)">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <div class="form-group">
      <input type="text" class="form-control" #email="ngModel" name="email" [(ngModel)]="user.email" placeholder="User Name" required autofocus>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="user.password" placeholder="Password" required>
    </div>

    <button class="btn btn-lg btn-primary btn-block">Sign in</button>
    <hr />
    <footer>
      <p>&copy; 2018 - BattlEye Manager</p>
    </footer>
  </form>
</div>